<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{include/include_title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/customer/common.css}">
<link rel="stylesheet" th:href="@{/css/customer/home.css}">

<script type="text/javascript" th:src="@{/js/franchisee/member/home.js}"></script>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script type="text/javascript" th:replace="~{include/home2_js.html::home2_js}"></script>

</head>
<body>

	<div id="wrap">
		
		<section>
		
			<div id="section_wrap">

				<div class="store_list">
					<table>
						<thead>
							<tr>
								<th>지점명</th>
								<th>주소</th>
								<th>연락처</th>
								<th><input type="button" value="close"></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
		
				<div class="login_form">
					
					<form	action="/franchisee/member/franchiseeStoreLogin" 
							method="post"
							name="franchisee_store_login_form">

						<input type="hidden" name="fcs_no">
						
						<input type="text" name="fcm_id" placeholder="PLEASE INPUT FRANCHISEE ID">
						<br>
						<input type="button" name="fcs_name" value="오픈지점">
						<span>지점명:<span class="fcs_name"></span></span>
						<br>
						<input type="password" name="fcm_pw" placeholder="PLEASE INPUT FRANCHISEE PW">
						<br>
						
						<input type="button" value="login" onclick="franchiseeStoreLogin()">
						<input type="reset" value="reset">

					</form>
					
				</div>
				
			</div>
			
		</section>
		
    </div>

</body>
</html>