<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{include/include_title.html::title}"></title>

<script type="text/javascript" th:src="@{/js/admin/member/admin_member.js}"></script>

<link rel="stylesheet" th:href="@{/css/admin/common.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin_include.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin_home.css}">
<link rel="stylesheet" th:href="@{/css/admin/member/admin_sales_list.css}">

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script type="text/javascript" th:replace="~{admin/include/section_side_menu_js.html::jquery_js}"></script>

</head>
<body>

	<div id="admin_wrap">

		<header th:replace="~{admin/include/admin_include.html::admin_header}">
		</header>
	
	
		<nav th:replace="~{admin/include/admin_include.html::admin_nav}">
		</nav>
		
		
		<section>
		
			<div id="section_wrap">
			
				<div th:replace="~{admin/include/admin_include.html::admin_section_side_menu}"></div>
				
				<div class="admin_section_view_wrap">
			
					<div class="word">
						매출 목록
					</div>
						
					<div class="admin_sales_list">
					
		  				<table>
							<tr>
								<td>NO</td>
								<td>ORDER NO</td>
								<td>지점명</td>
								<td>금액</td>
								<td>결제수단</td>
								<td>등록일</td>
								<td>수정일</td>
							</tr>
							<tr th:each="fs_dto : ${franchiseeSalesDtos}">
								<td th:text="${fs_dto.fcsa_no}"></td>
								<td th:text="${fs_dto.fco_ori_no}"></td>
								<td th:text="${fs_dto.fcs_name}"></td>
								<td th:text="${fs_dto.fcsa_price}"></td>
								<td th:text="${fs_dto.pm_type}"></td>
								<td th:text="${fs_dto.fcsa_reg_date}"></td>
								<td th:text="${fs_dto.fcsa_mod_date}"></td>
							</tr>
						</table> 
						
					</div>
				
				</div>
				
			</div>
			
		</section>
			
		
		<footer th:replace="~{admin/include/admin_include.html::admin_footer}">
		</footer>
		
	</div>

</body>
</html>