<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.kiosk.admin.menu.IAdminMenuDao">


<select id="selectAllCategory" resultType="com.office.kiosk.franchisee.menu.FranchiseeMenuCategoryDto">

	SELECT * 
	FROM TBL_FC_MENU_CATEGORY;

</select>

<insert id="insertMenuCategory" parameterType="com.office.kiosk.franchisee.menu.FranchiseeMenuCategoryDto">

	INSERT INTO TBL_FC_MENU_CATEGORY(FCMC_NAME, FCMC_REG_DATE, FCMC_MOD_DATE) 
	VALUES(#{fcmc_name}, NOW(), NOW());

</insert>

<select id="isMenuCategory" parameterType="String" resultType="boolean">

	SELECT COUNT(*) FROM TBL_FC_MENU_CATEGORY WHERE FCMC_NAME = #{FCMC_NAME}

</select>

<insert id="insertMenu" parameterType="com.office.kiosk.franchisee.menu.FranchiseeMenuDto"> 

	INSERT INT TBL_FC_MENU(FC_MENU_NAME, FCMC_NO, FC_MENU_TEXT, FC_MENU_PRICE, FC_MENU_IMG_NAME, FC_MENU_QUANTITY, FC_MENU_REG_DATE, FC_MENU_MOD_DATE) 
	
	VALUES (#{FC_MENU_NAME}, #{FCMC_NO}, NOW(), NOW()); 

</insert>

<select id="isMenu" parameterType="String" resultType="boolean"> 

	SELECT COUNT(*) FROM TBL_FC_MENU WHERE FC_MENU_NAME = #{FC_MENU_NAME}; 

</select>

</mapper>