<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

	<nav th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
	</nav>

	<section>

		<div id="section_wrap">


			

				<div class="word">MENU HOME</div>
				
			  
			 	<ul>
					<li><a th:href="@{/franchisee/menu/createMenuForm}">추가 메뉴 신청</a></li>
					<li><a th:href="@{/franchisee/menu/getAllMenus}">메뉴 목록</a></li>
					<li><a th:href="@{/franchisee/menu/modifySelectMenu}">메뉴 수정</a></li>
				</ul>
			 	

	</section>

	<footer
		th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}">

	</footer>

</body>
</html>