<html xmlns:th="http://www.thymeleaf.org">
	
	<header th:fragment="admin_header">
		<div id="header_wrap"></div>
	</header>
	

	<nav th:fragment="admin_nav">
	
		<div id="nav_wrap" th:if="${session.loginedAdminMemberDto == null}" >
			<a th:href="@{/admin/home}">Admin Home</a>
			<a th:href="@{/admin/member/adminMemberAccountForm}">Create Admin Account Form</a>
			<a th:href="@{/admin/member/adminLoginForm}">Admin Login Form</a>
		</div>
		
		<div id="nav_wrap" th:unless="${session.loginedAdminMemberDto == null}" >
			<a th:href="@{/admin/home}">Admin Home</a>
			<a th:href="@{/admin/member/adminMemberModifyForm}">Admin Modify Form</a>
			<a href="#none" th:onclick="adminLogoutConfirm()">Admin Logout</a>
		</div> 
		
	</nav>
	
	
	<div class="section_side_menu" th:fragment="admin_section_side_menu">
		
		<ul>
			<li>member management
				<ul>
					<li>
						<a th:href="@{/admin/member/adminList}">admin List</a>
						<br>
						<a th:href="@{/admin/member/franchiseeList}">Franchisee List</a>
						<br>
						<a th:href="@{/admin/member/storeList}">Store List</a>
					</li>
				</ul>		
			</li>
			<li>menu
				<ul>
					<li>
						<a th:href="@{/admin/menu/menuList}">menu List</a>
						<br>
						<a th:href="@{/admin/menu/addMenu}">add menu</a>
					</li>
				</ul>
			</li>
			<li>sales
				<ul>
					<li>
						<a th:href="@{/admin/sales/menuList}">sales List</a>
					</li>
				</ul>
			</li>
		</ul>
		
	</div>
	
	
	<footer th:fragment="admin_footer">
		<div id="footer_wrap">
			<p>© 2024 hell demon blade.</p>
		</div>
	</footer>

</html>