<script type="text/javascript" th:fragment="franchisee_store_list_js">


$(document).ready(function(){
    console.log('DOCUMENT READY!!')

    addFranchiseeStoreListTable()

    initEvents()

})

function addFranchiseeStoreListTable() {
    console.log('addFranchiseeStoreListTable()');

    ajax_getAllFranchiseeStoreInfo()

}


function initEvents() {
    console.log('initEvents()');

}

function removeFranchiseeStoreList() {
    console.log('removeFranchiseeStoreList()');


}

// ajax - 모든 가맹점 목록 불러오기 
function ajax_getAllFranchiseeStoreInfo() {
    console.log('ajax_getAllFranchiseeStoreInfo');

    $.ajax({
        url: '/admin/member/getAllFranchiseeStoreInfo', 
        method: 'post', 
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function(data) {
            console.log('ajax success!!');

            let storeDtos = data.franchiseeStoreDtos;
            let appendTag = '';
			
            for (let i = 0; i < storeDtos.length; i++) {
                
                appendTag = '<tr>';
                    
                    appendTag += '<td>' + storeDtos[i].fcs_no + '</td>';
                    appendTag += '<td>' + storeDtos[i].fcs_name + '</td>';
                    appendTag += '<td>' + storeDtos[i].fcs_location + '</td>';
                    appendTag += '<td>' + storeDtos[i].fcs_phone + '</td>';
                    appendTag += '<td>' + storeDtos[i].fcm_name + '</td>';
                    appendTag += '<td>' + storeDtos[i].fcm_id + '</td>';
                    appendTag += '<td>' + storeDtos[i].fcm_phone + '</td>';
                    appendTag += '<td>' + storeDtos[i].fcs_reg_date + '</td>';
                    appendTag += '<td>' + storeDtos[i].fcs_mod_date + '</td>';

                appendTag += '</tr>';

                $('#section_wrap table tbody').append(appendTag);

            }

        },
        error: function(data) {
            console.log('ajax error!!')

        }

    })

}

// ajax sales list 검색
function ajax_searchSalesList(search_term, search_value, search_word) {
    console.log('ajax_searchSalesList()')

    let formData = new FormData();
    formData.append('search_term', search_term);
    formData.append('search_value', search_value);
    formData.append('search_word', search_word);

    $.ajax({
        url: '/admin/sales/getSearchSales',
        method: 'post', 
        processData: false,
        contentType: false,
        data: formData,
        success: function (data) {
            console.log('ajax success!!');
            
            let searchDtos = data.searchSalesDtos;
            console.log("searchDtos--", searchDtos);
            let appendTag = '';
            
            removeFranchiseeStoreList();

            if (searchDtos.length !== 0) {


                for (let i = 0; i < searchDtos.length; i++) {

                appendTag = '<tr>';

                    appendTag += '<td>' + searchDtos[i].fcsa_no + '</td>';
                    appendTag += '<td>' + searchDtos[i].fco_ori_no + '</td>';
                    appendTag += '<td>' + searchDtos[i].fcs_name + '</td>';
                    appendTag += '<td>' + searchDtos[i].fcm_name + '</td>';
                    appendTag += '<td>' + searchDtos[i].fcsa_price + '</td>';
                    appendTag += '<td>' + searchDtos[i].pm_type + '</td>';
                    appendTag += '<td>' + searchDtos[i].fcsa_reg_date + '</td>';
                    appendTag += '<td>' + searchDtos[i].fcsa_mod_date + '</td>';

                appendTag += '</tr>';

                $('#section_wrap table tbody').append(appendTag);

                }

            } else {

                appendTag = '<tr>';

                    appendTag += '<td colspan="8"> 검색된 데이타가 없습니다.  </td>';

                appendTag += '</tr>';

                $('#section_wrap table tbody').append(appendTag);

            }

			
            

        },
        error: function(data) {
            console.log('ajax error!!')

        }

    })
    

}

</script>
