<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/include_title.html::title}"></title>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<!-- <script type="text/javascript" th:src="@{/js/franchisee/member/franchisee_member.js}"></script> -->
<script type="text/javascript" th:src="@{/js/franchisee/order/franchisee_order.js}"></script>

<script type="text/javascript"
	th:replace="~{/franchisee/order/include/franchisee_order_list_js.html::js}"></script>

<link rel="stylesheet" th:href="@{/css/admin/common.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/order/order.css}">

</head>
<body>

	<nav th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
	</nav>

	<section>

		<div id="section_wrap">
			

			<div class="pos_section_info_wrap">

				<div id="word">오더 리스트</div>
				<button><a th:href="@{/franchisee/order/createOrderList}">주문하기 이동</a></button> 
				
				<div id="franchisee_order_list">
							
				<table>
				
					  <thead>
					    <tr>
					      <th hidden>NO</th>
					      <th>주문 번호</th>
					      <th>포장</th>
					      <th>카테고리</th>
					      <th>메뉴 이름</th>
					      <th>주문 수량</th>
					      <th>가게 이름</th>
					      <th>결제 수단</th>
					      <th>주문일</th>
					      <th>수정일</th>
					      <th>삭제</th>
					    </tr>
					  </thead>					  
					  <tbody>
					    
					  </tbody>				  
				</table>
				
				<div class="page_no_wrap">
				</div>
				
			</div>
			
		</div>

			<div class="pos_section_detail_view_wrap"></div>
		</div>

	</section>

	<footer
		th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}">

	</footer>

</body>
</html>